{% extends 'base.html' %}
{% block content %}
    <h1>This is Blog</h1>
    <a href="{% url 'addblog' %}" class="btn btn-primary px-5 py-2">Add a blog</a>


    <div class="my-3">
        <a href="?sort=date" class="btn btn-secondary">Sort by Most Recent</a>
        <a href="?sort=likes" class="btn btn-secondary">Sort by Most Liked</a>
    </div>

    <!-- Blog posts -->
    {% for b in blog %}
    <div class="card my-3">
        <div class="card-body">
            {% if b.display_image %}
                <img src="{{ b.display_image.url }}" alt="Display Image" style="max-width: 200px; max-height: 200px;">
            {% endif %}
            <h5 class="card-title">{{ b.title }}</h5>
            <p>Author: {{ b.author }}</p>
            <p>Likes: {{ b.like_count }}</p> <!-- Display the like count -->

            <a href="{% url 'blog_details' b.id %}" class="btn btn-primary">Read More</a>
            {% if request.user == b.author %}
            <a href="{% url 'update_blog' b.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_blog' b.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
