{% extends 'base.html' %}

{% block content %}
 <!-- Roadmap Switching Buttons -->
 <div class="d-flex justify-content-center my-3">
    <a href="{% url 'academic_course' %}" class="btn btn-primary mx-2">Academic Roadmap</a>
    <a href="{% url 'career_course' %}" class="btn btn-primary mx-2">Career Roadmap</a>
</div>

<!-- Header -->
<header class="bg-dark text-white text-center py-4">
    <h1>Academic Roadmap</h1>
    <p class="lead">Master Programming step-by-step!</p>
    <a class="btn btn-success mx-2" href="{% url 'create_course' %}">Create A Course</a>
</header>

<!-- Main Content -->
<main class="container my-5">
    <div class="btn my-3">

    </div>

    {% if academic_courses %}
        <div class="row g-4">
            {% for ac in academic_courses %}
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 shadow-sm">
                        <img src="{{ ac.image.url }}" alt="interviews" class="card-img-top" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ ac.name }}</h5>
                            <p class="card-text">{{ ac.description }}.</p>
                            <a href="{% url 'lecture_list' ac.id %}" class="btn btn-primary">View Course</a>
                            <a class="btn btn-danger mx-2" type="button" href="{% url 'delete_course' ac.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No academic courses available.</p>
    {% endif %}
</main>
{% endblock %}
