{% load static %}
<!--footer part start here-->
<body class="d-flex flex-column min-vh-100">
    <footer class="text-center bg-body-tertiary">
        <!-- Grid container -->
        <div >         
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2020 Copyright:
          <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    </body>
<!--footer part start here-->