{% load static %}
<!-- Footer -->
<body class="d-flex flex-column min-vh-100">
    <footer class="mt-auto text-center" style="background-color: #2a4723; color: #ffffff;">
        <div>
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.1);">
                © 2024 AmarCSE Copyright:
                <a class="text-white" href="{% url 'index' %}">AmarCSE.com</a>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
</body>
