{% extends 'base.html' %}


{% block content %}


<section style="display: flex; align-items: center; justify-content: center; padding: 50px; background-color: #3D405B;">
    <div style="flex: 1; padding-right: 20px; color: white;">
        <h2>Welcome to the club</h2>
        <h1 style="margin: 20px 0;">আমার CSE<span style="display: inline-block; font-weight: bold;">Tsit</span></h1>
        
        <div style="margin-top: 20px;">
            <a href="#section_2" style="text-decoration: none; padding: 10px 20px; color: white; background-color: #6c757d; border-radius: 5px; margin-right: 10px;">Our Story</a>
            <a href="#section_3" style="text-decoration: none; color: #f8f9fa;">Become a member</a>
        </div>
    </div>

    <div style="flex: 1;">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/PizWkpVi25s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>



{% endblock %}