{% extends 'base.html' %}


{% block content %}


<section style="display: flex; align-items: center; justify-content: center; padding: 50px; background-color: #3D405B;">
    <div style="flex: 1; padding-right: 20px; color: white;">
        <h2>Welcome to the club</h2>
        <h1 style="margin: 20px 0;">আমার CSE<span style="display: inline-block; font-weight: bold;">Tsit</span></h1>
        
        <div style="margin-top: 20px;">
            <a href="#section_2" style="text-decoration: none; padding: 10px 20px; color: white; background-color: #6c757d; border-radius: 5px; margin-right: 10px;">Our Story</a>
            <a href="#section_3" style="text-decoration: none; color: #f8f9fa;">Become a member</a>
        </div>
    </div>

    <div style="flex: 1;">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/PizWkpVi25s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>


<section class="client">
    <div class="container">
      <!-- 1st row -->
      <div class="row justify-content-center ">
        <div class="col-lg-2 ">
          <div class="c_text1  ">
          <h6 class="tc" >Top Categories</h6>
        </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="c_text2 text-center">
          <h1 class="bc">Browse Course With Top Categories</h1>
        </div>
        </div>
      </div>
      <!-- 2nd -->
      <div class="row">
        <!-- single item -->
        <div class="col-lg-3">
          <div class="s_client">
            <div class="i_logo ">
              <i class="fa-brands fa-python" ></i>
            </div>
            <div class="i_text ">
              <h4>Learn Python</h4>
              <p>unleash your creative potential</p>
            </div>

          </div>
        </div>

        <!-- single item -->
        <div class="col-lg-3">
          <div class="s_client">
            <div class="i_logo ">
              <i class="fa-solid fa-code"></i>
            </div>
            <div class="i_text ">
              <h4>Algorithm</h4>
              <p>unleash your creative potential</p>
            </div>

          </div>
        </div>

        <!-- single item -->
        <div class="col-lg-3">
          <div class="s_client">
            <div class="i_logo ">
              <i class="fa-solid fa-database"></i>
            </div>
            <div class="i_text ">
              <h4>Data Structure</h4>
              <p>unleash your creative potential</p>
            </div>

          </div>
        </div>

        <div class="col-lg-3">
          <div class="s_client">
            <div class="i_logo ">
              <i class="fa-brands fa-java"></i>
            </div>
            <div class="i_text ">
              <h4>Java</h4>
              <p>unleash your creative potential</p>
            </div>

          </div>
        </div>
         <div class="col-lg-3">
          <div class="s_client">
            <div class="i_logo ">
              <i class="fa-solid fa-tower-cell"></i>
            </div>
            <div class="i_text ">
              <h4>Data Communication</h4>
              <p>unleash your creative potential</p>
            </div>

          </div>
        </div>
         <div class="col-lg-3">
          <div class="s_client">
            <div class="i_logo ">
              <i class="fa-solid fa-c"></i>
            </div>
            <div class="i_text ">
              <h4>C++</h4>
              <p>unleash your creative potential</p>
            </div>

          </div>
        </div>
      </div>
     
    </div>
    <div class="row justify-content-center ">
        <div class="col-lg-12 text-center ">
          <button class="bt">Explore more</button>
        </div>
      </div>
    
</section>

<section class="work">
  <div class="work_details ">
    <div class="heding">
      <h4 >How It Work</h4>
      <h1>Experience Interactive Learning</h1>
      <p>Discover a wide range of expert-led courses tailored to your personal and professional growth.</p>
    </div>

    <div class="container jus">
      <div class="col-lg-4 ">
        <div class="detail">
          <div class="num">
            <h1>01<i class="fa-solid fa-address-card"></i></h1>
          </div>
          <div class="explain">
            <h2>Sign Up</h2>
            <p>Create an account in minutes by providing your details and accessing the student dashboard.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="detail second">
          <div class="num">
            <h1>02<i class="fa-solid fa-arrow-up-right-from-square" style="color: #12211c;"></i></h1>
          </div>
          <div class="explain">
            <h2>Select a Course</h2>
            <p>Browse our wide range of courses, choose your preferred subject, and enroll instantly.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="detail">
          <div class="num">
            <h1>03<i class="fa-solid fa-check"></i></h1>
          </div>
          <div class="explain">
            <h2>Start Learning</h2>
            <p>Access course materials, join interactive lessons, and complete assignments at your own pace.</p>
          </div>
        </div>
      </div>


    </div>

     
  </div>
</section>

<section class="contactus">
  <div class="contact">
    <div class="te ">
     <h1 class="te1">Ready to start learning? Contact us!</h1>
     <p class="te2">Discover a wide range of expert-led courses tailored to your personal and professional growth.</p>
     <div class="row justify-content-center ">
      <div class="col-lg-12 text-center ">
        <button class="bt">Contact Us</button>
      </div>
    </div>
    </div>
  </div>
</section>



{% endblock %}