{% extends 'base.html' %}

{% block content %}
<section class="lecture">
    <div class="container text-center">
        <div class="title">
            <h1>Course name: {{ course.name }}</h1>
        </div>

        <div class="btn my-3">
            <a class="btn btn-success mx-2" type="button" href="{% url 'create_lecture' course.id %}">Create A Lecture</a>
        </div>

        {% for i in lectures %}
        <div class="card mx-auto my-4 p-3" style="max-width: 800px;background-color: #90b36a">
            <h2>Lecture {{ forloop.counter }}: {{ i.lecture_name }}</h2>
            <div class="d-flex justify-content-center my-2">
                <a class="btn btn-warning mx-2" href="{% url 'update_lecture' course.id i.id %}">Update</a>
                <a class="btn btn-danger mx-2" href="{% url 'delete_lecture' course.id i.id %}">Delete</a>
            </div>

            {% if i.video %}
            <video class="mx-auto d-block my-3" width="640" height="360" controls>
                <source src="{{ i.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% else %}
            <p>No video available for this lecture.</p>
            {% endif %}

            {% if i.image %}
            <div class="my-3">
                <img src="{{ i.image.url }}" class="img-fluid mx-auto d-block" style="height: 75%;">
                <a href="{{ i.image.url }}" class="btn btn-link" target="_blank">Download image</a>
            </div>
            {% else %}
            <p>No image available for this lecture.</p>
            {% endif %}

            {% if i.notes %}
            <a href="{{ i.notes.url }}" class="btn btn-link" target="_blank">Download/ View Notes</a>
            {% else %}
            <p>No notes available for this lecture.</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
