{% extends 'base.html' %}


{% block content %}

<section class="lecture">
    <div class="container">
      <div class="title">
        <h1>Course name : Python</h1>
      </div>

      <div class="boxx col-lg-12">
        <div class="btn">
            <a class="btn button_b" type="button" href="#">Register</a>
            <a class="btn button_b" type="button" href="{% url 'create_lecture' %}">Create</a>



        </div>
      {% for i in lectures %}
        <div>
          <h2>Lecture {{ forloop.counter }}: {{ i.lecture_name }}</h2>
          <a class="btn button_b" type="button" href="{% url 'update_lecture' i.id %}">Update</a>
          <a class="btn button_b" type="button" href="{% url 'delete_lecture' i.id %}">Delete</a>
        </div>

          <!-- Display the video if it exists -->
          {% if i.video %}
          <video width="640" height="360" controls>
              <source src="{{ i.video.url }}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
          {% else %}
          <p>No video available for this lecture.</p>
          {% endif %}

          {% if i.image %}
          <p>
              <img src="{{ i.image.url }}"  height="250px">
              <a href="{{ i.image.url }}" target="_blank">Download image</a>
          </p>
        {% else %}
          <br>
        {% endif %}

          <!-- Display the PDF file if it exists -->
        {% if i.notes %}
          <p>
              <a href="{{ i.notes.url }}" target="_blank">Download/ View Notes</a>
          </p>
        {% else %}
          <p>No notes available for this lecture.</p>
        {% endif %}
      {% endfor %}



    </div>
</section>

{% endblock %}