{% extends "base.html" %}
{% block content %}
<body>
    <section>
      <form action="" method="post">
        <div class="container">
          <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username"><br>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <button>Log In</button>
        <div class="social">
          <div class="go"><a href="../index.html">Register</a></div>
          <div class="fb"><a href="">Forget password</a></div>
        </div>
        </div>
      </form>
    </section>
</body>


{% endblock %}
