{% extends "base.html" %}
{% block content %}
<body>
    <form class="formm" method="POST" action="">
        <h3>SIGN IN</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username">

        <label for="email">Email</label>
        <input type="email" placeholder="email" id="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <label for="confirm_password">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="confirm_password">

        <button>Sign In</button>
        <a class="ra" href="login_page/index.html">I already have an account</a>
    </form>
</body>
{% endblock %}