{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <div class="card shadow-sm" style="width: 300px;">
          <img src="{% static 'img/user.png' %}" alt="user" class="card-img-top">
          <div class="card-body text-center">
              <h3 class="card-title">User Name</h3>
              <ul class="list-unstyled">
                  <li><strong>Completed Courses:</strong> 0</li>
                  <li><strong>Completed Exercises:</strong> 0</li>
              </ul>
          </div>
      </div>
  </div>
</div>

{% endblock %}